.hero {
    height: 100vh;
    background-color: #060606;
    overflow-x: hidden;
}

.arrows-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 35vh;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .arrows-container {
        height: 25vh;
    }
}

.scroll-to-projects{ 
    position: absolute;
    color: rgba(177, 177, 177, 0.726);
    transform: RotateZ(90deg);
    bottom: 5rem;
    right: -1rem;
    margin-right: 10px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .scroll-to-projects {
        display: none;
    }
}