.projectsIntro {
    height: 200px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.intro-boundary {
    width: 100%;
    height: 10px;
    background-color: black;
    border-radius: 10px;
}

.left-boundary {
    margin-left: 10%;
}

.right-boundary {
    margin-right: 10%;
}


.projectsIntro-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    opacity: 1;
    color: #0a0a0a; 
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .projectsIntro-header {
        font-size: 1.5rem;
    }
    .intro-boundary {
        width: 80%;
    }

    .left-boundary {
        margin-left: 0%;
    }

    .right-boundary {
        margin-right: 0%;
    }
}