.project-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
    aspect-ratio: preserve;
    margin-bottom: 2rem;
}

.project-media img,
.project-media video {
    width: 100%;
    height: auto;
    aspect-ratio: preserve;
    margin-bottom: 1rem;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}