.projectsIntro {
    height: 200px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.projectsIntro-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    opacity: 1;
    color: #0a0a0a; 
    font-family: 'Kanit', sans-serif;
    font-family: 'SFPRODISPLAYREGULAR', sans-serif;
}

@media screen and (max-width: 768px) {
    .projectsIntro-header {
        font-size: 2.5rem;
    }
}