.project-media {
    display: flex;
    align-items: center;
    width: 100%;
    aspect-ratio: preserve;
    margin-bottom: 2rem;
}

.project-media img,
.project-media video {
    width: var(--width-media);
    height: auto;
    aspect-ratio: preserve;
    margin-bottom: 1rem;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}